* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: lightseagreen;
  border-bottom: 5px solid lightgray;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(237, 239, 241);
}

li {
  list-style: none;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

p, h2, h1 {
  color: gray;
}

h1, h2 {
  padding: 8px 0;
}

/* Navigation and hamburger menu from https://www.youtube.com/watch?v=flItyHiDm7E */

.navbar {
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  font-size: 1.25rem;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: gray;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.active {
  background-color: #717171;
}

/* Main area */

main {
  background-color: whitesmoke;
  padding: 20px;
}

/* Main - responsive image grid from https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
.header-gallery {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


/* Footer Area */

footer {
  background-color: lightseagreen;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 5px solid lightgray;
  height: 70px;
  padding: 20px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Responsive mobile layout
makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 90px;
    gap: 0;
    flex-direction: column;
    background-color: lightgrey;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 2000;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

/* Responsive tablet layout
makes a two column-layout instead of four columns */
@media screen and (min-width: 600px) and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 90px;
    gap: 0;
    flex-direction: column;
    background-color: lightgrey;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 2000;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}